/* .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  padding: 10px;
}

.form button {
  padding: 10px;
  margin-top: 10px;
}

.link-text {
  font-size: 14px;
  cursor: pointer;
  color: blue;
} */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form input,
.form button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.link-text {
  font-size: 14px;
  cursor: pointer;
  color: blue;
}
